/* Підключення шріфтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
[class*="__container"]{
	max-width: 1540px;
	margin: 0 auto;
	overflow: hidden;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
.wrapper > main{
	flex-grow: 1;
}

.header-block {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.header-logo {
	flex-shrink: 0;
	margin-right: 163px;
}
.header-search {
	color: #807D7E;
	text-align: center;
	font-family: 'Causten';
	font-size: 18px;
	font-weight: 500;
	border-radius: 8px;
	background: #F6F6F6;
	display: inline-flex;
	padding: 12px 48px;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-right: 210px;

}
.header-search::before{
	content: '';
	width: 20px;
	height: 20px;
	background: url(../img/icons/search.svg) center no-repeat;
}
.header-language div::after{
	content: '';
	width: 10px;
	height: 5px;
	background: url(../img/icons/arrow.svg) center no-repeat;
	margin-left: 19px;
}
.header-language div{
	margin-bottom: 5px;
	cursor: pointer;
}
.header-language{
	margin-top: 56px;
	display: flex;
	flex-direction: column;

}
.header-language__list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header-language .header-language__list {
	visibility: hidden;
}
.header-language:hover .header-language__list {
	visibility: visible;
	text-decoration: underline;
}
.header-language__item {
	text-transform: capitalize;
	cursor: pointer;
}
.header-language__item:not(:last-child){
	margin-bottom: 5px;
}
.header-login{
	border-radius: 8px;
	background: #8A33FD;
	display: inline-flex;
	padding: 12px 48px;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.header-login,
.header-sign {
	color: #FFF;
	text-align: center;
	font-family: 'Causten';
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
}
.header-sign {
	color: #8A33FD;
	display: inline-flex;
	padding: 12px 48px;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-radius: 8px;
	border: 1px solid #3C4242;
}
.header-login:hover{
	background-color: #5717acfb;

}
.header-sign:hover{
	background-color: #e0e0e0;
}
.page-category{
	display: flex;
	flex-wrap: wrap;
}
.page-block {
	padding: 0px 100px;
	margin-bottom: 100px;
}
.page-title {
	display: flex;
	align-items: center;
	color: #3C4242;
	font-family: "Core Sans C";
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.68px;
	margin-bottom: 70px;
}
.page-title::before{
	content: '';
	width: 6px;
	height: 30px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #8A33FD;
	margin-right: 20px;
}
.page-card {
	flex-direction: column;
}
.page-card::after{
	content: '';
	position: relative;
	left: 250px;
	bottom: 40px;
	width: 18px;
	height: 18px;
	background: url(../img/icons/arrow-right.svg) center no-repeat;
}
.page-card:not(:last-child){
	margin-right: 50px;
}
.page-photo {
	max-width: 271px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.page-photo:hover{
	transform: scale(1.1);
}
.page-name {
	color: #2A2F2F;
	font-family: 'Causten';
	font-size: 17.875px;
	font-weight: 700;
	line-height: 27.93px;
	letter-spacing: -0.715px;
	margin-bottom: 4px;
}
.page-explore {
	color: #7F7F7F;
	font-family: 'Causten';
	font-size: 13.407px;
	font-weight: 500;
	line-height: 27.93px;
	letter-spacing: -0.536px;
}

.wishlist-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
.wishlist-card{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-family: 'Causten';
	font-size: 22px;
	letter-spacing: 0.44px;
	margin-bottom: 30px;
}
.wishlist-card p{
	color: #3C4242;
	font-weight: 700;
}
.wishlist-card span{
	color: #807D7E;
	font-weight: 500;
}
.wishlist-descr{
	margin-right: 161px;
}
.wishlist-descr__name--margin,
.wishlist-descr__color--margin{
	margin-bottom: 12px;
}

.wishlist-title {
	width: 181px;
	height: 31px;
	margin: 0 auto;
	position: relative;
	right: 355px;
	font-family: "Core Sans C", sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #3c4242;
	margin-bottom: 50px;

}
.wishlist-card::before {
	content: '';
	width: 22px;
	height: 22px;
	background: url(../img/icons/close.svg) center no-repeat;
	margin-right: 36px;
	cursor: pointer;
}
.wishlist-line{
	width: 894px;
	border: 1px solid #EDEEF2;
	margin-bottom: 30px;
}
.wishlist-img {
	margin-right: 36px;
}

.wishlist-price {
	margin-right: 50px;
}
.wishlist-btn {
	display: inline-flex;
	padding: 14px 28px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: #8A33FD;
	color: #FFF;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}
.wishlist-btn:hover{
	cursor: pointer;
	background-color: #5717acfb;
}

.order-contant {
	width: 100%;
	max-width: 895px;
	margin: 0 auto;
	background-color: #F6F6F6;
	padding: 28px 47px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.order-number {
	color: #3c4242;
	font-size: 20px;
	font-family: "Causten",sans-serif;
	font-weight: 600;
	margin-bottom: 14px;
}
.order-contant p{
	color: #807d7e;
	font-size: 14px;
	font-family: "Causten",sans-serif;
	font-weight: 600;
}
.order-contant span{
	color: #BEBCBD;
	font-size: 14px;
	font-weight: 600;
}
.order-contant__number-two {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}
.order{
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	flex: 0 0 auto;
}
.order-date,
.order-status {
	margin-bottom: 7px;
}
.order-contant:not(:last-child){
	margin-bottom: 30px;
}

.order-card{
	width: 894px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}
.order-card p{
	color: #3c4242;
	font-size: 14px;
	font-family: "Causten",sans-serif;
	font-weight: 600;
}
.order-card span{
	color: #bebcbd;
}
.order-name {
	color: #3c4242;
	font-size: 16px;
	font-family: "Causten",sans-serif;
	font-weight: 600;
	margin-bottom: 10px;
	flex: 1 0 auto;
}

.order-name,
.order-color,
.order-qty{
	margin-bottom: 5px;
}
.order-total {
	color: #807d7e;
	font-size: 14px;
	font-family: "Causten",sans-serif;
	font-weight: 600;
}

.order-btn {
	border-radius: 8px;
	padding: 14px 28px;
	min-width: 144px;
	height: 50px;
	margin-left: auto;
	background: #8a33fd;
	text-align: center;
	color: #fff;
	font-family: "Causten",sans-serif;
	font-weight: 500;
	font-size: 18px;
	flex: 0 0 auto;
}
.order-btn:hover{
	cursor: pointer;
	background-color: #5717acfb;
}
.order-img{
	margin-right: 25px;
}
.order-line{
	width: 894px;
	margin: 0 auto;
	border: 1px solid #EDEEF2;
}
.order-line:not(:last-child){
	margin-bottom: 30px;
}
