@import url("fonts.css");
@import url("reset.css");


body{
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
h1,h2{
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; 
	/* text-transform: capitalize; */
	margin-bottom: 20px;
}
.header,
.footer{
	max-width: 100%;
   font-size: 40px;
	font-weight: 400;
   color: #5e8367;
   text-align: center;
   padding: 40px 0;
   text-shadow: 5px 6px 7px #5bf7b6;
   line-height: 1.2;
   box-shadow: inset 0px 0px 40px 40px rgba(230, 84, 84, 0.247);
	background-color: #076ff77a;
	margin-bottom: 100px;
}
.links:hover{
   box-shadow: inset 0px 0px 40px 40px rgba(230, 62, 165, 0.247);
	outline: 3px solid #000;
	transition: 1s;
}
.links:active{
	background-color: azure;
}
.links:focus{
	outline: 2px salmon rgb(247, 25, 210);
	color: yellow;
}
.header__title:hover{
	background-color: yellowgreen;
}
.first__screen-block{
	margin-bottom: 50px;
}
.first__screen-section{
	max-width: 720px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.27; 
}
.consalt__text h4{
	color: #37393F;
	font-size: 30px;
	height: 86px;
	margin-bottom: 3px;
}
.consalt__text h5{
	color: #6B77E5;
	margin-bottom: 12px;
}
.consalt__text p{
	color: #7D7D7D;
	line-height: 1.46; 
	color: #7D7D7D;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.consalt__text p:not(:last-child){
	margin-bottom: 42px;
}
.consalt__text p:last-child{
	margin-bottom: 38px;
}
.consalt__img{
	display: inline-block;
	/* font-size: 0; */
}
.consalt__img .tree__img{
	display: inline-block;
	background: url(../img/tree.png);
	width: 331px;
	height: 261.5px;
	margin-right: 29px;
}
.consalt__list {
	display: inline-block;
	max-width: 332px;
	font-size: 18px;
	vertical-align: top;
}
.consalt__list h4{
	color: #37393F;
	font-size: 25px;
	margin-bottom: 15px;
}
.consalt__list p{
	color: #40DDB6;
	margin-bottom: 23.5px;
}
.consalt__item{
	color: #7D7D7D;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.consalt__item:not(:last-child){
	margin-bottom: 30px;
}
.consalt__item::before {
	content: '';
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../img/vector.png) left center no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.cube-title {
	color: #37393F;
	font-weight: 500;
	margin-bottom: 16px;
}
.cube-title::before{
	content: '';
	width: 12px;
	height: 12px;
	background: #40DDB6;
	display: inline-block;
	margin-right: 5px;
}
.first__screen-text {
	max-width: 673px;
	margin-bottom: 20px;
	color: #7D7D7D;
	line-height: 1.46;
}
.first__screen-titles,
.second__screen-titles{
	max-width: 429px;
}
.first__screen-text p{
	margin-bottom: 15px;
}
.list {
	margin-bottom: 100px;
}
.list__item {
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;

}
.list:not(:last-child){
	margin-bottom: 23px;
}
.list__item::before{
	content: "";
	display: inline-block;
	background: url("../img/vector.png") 0 0 no-repeat;
	width: 30px;
	height: 30px;
	margin-right: 3px;
	margin-bottom: -9px;
}
.list__item:not(:last-child){
	margin-bottom: 23px;
}
.second__screen-section {
	max-width: 1023px;
	margin: 0 auto;
}

.second__screen-list{
	padding: 28px 41px 28px 38px;
	border: 1px solid #E3E3E3;
	width: 675px;
	height: 150px;
}
.second__screen-item{
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
	text-transform: capitalize;
}
.item__text{
	color: #7D7D7D;
	line-height: 1.46;
	width: 550px;
	height: 52px;
	margin-left: 50px;
}
.second__screen-item::before{
	content: "";
	display: inline-block;
	background: url("../img/vector.png") 0 0 no-repeat;
	width: 30px;
	height: 30px;
	margin-right: 19px;
	margin-bottom: -9px;
}
.second__text{
	margin-bottom: 48px;
}
.first-list{
	margin-bottom: 31px;
}
.second-list{
	margin-bottom: 48px;
}
.second__btn{
	padding: 21px 35px 22px 35px;
	background: #6B77E5;
	width: 200px;
	height: 65px;
	text-align: center;
	color: #FFF;
	font-weight: 600;
	text-transform: capitalize;
	cursor: pointer;
	margin-bottom: 190px;
}
.second__btn:hover{
	background: #3748e7;
}
.second__btn:active{
	background: grey;
	color: red;
}
.third__screen-section{
	max-width: 1250px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.third__block {
	display: inline-block;
	max-width: 386px;
	padding: 58px 43px;
	background: #F4F4F4;
	text-align: center;
}
.titles{
	color: #37393F;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27; 
	margin-bottom: 16px;
}
.text{
	color: #7D7D7D;
	line-height: 1.46; 
	margin-bottom: 37px;
}
.link{
	color: #6B77E5;
	font-weight: 600;
	text-transform: capitalize;
}
.link:hover{
	color: #1d32f1;
	outline: 2px dotted #000;
}
.icon__item,
.icon__item2,
.icon__item3{
	margin-top: -95px;
	margin-bottom: 22px;
}
.icon__item::before{
	content: '';
	background: url(../img/icon/icon1.png) 0 0px no-repeat;
	width: 72px;
	height: 72px;

}
.icon__item2::before{
	content: '';
	background: url(../img/icon/icon2.png) 0 0 no-repeat;
	width: 72px;
	height: 72px;
}
.icon__item3::before{
	content: '';
	background: url(../img/icon/icon3.png) 0 0 no-repeat;
	width: 72px;
	height: 72px;
}
.third__screen-title h2{
	margin-bottom: 77px;
}
.third__block:not(:last-child){
	margin-right: 31px;
}

.fourth__screen-section{
	max-width: 1274px;
	height: 674px;
	margin: 0 auto;
	align-items: center;
	color: #000;
	font-family: 'Cormorant Infant', sans-serif;
	font-weight: 700;
	font-size: 0;
	margin-bottom: 100px;
}
.fourth__title{
	display: inline-block;
	max-width: 488px;
	height: 138px;
	font-size: 60px;
	line-height: 1.15; 
	text-transform: capitalize;
	vertical-align: top;
	padding-top: 120px;

}
.fourth__title::after{
	content: '';
	width: 304px;
	height: 3px;
	background: #78473B;
	margin-bottom: 26px;
}
.first__image,
.second-image{
	display: inline-block;

}
.first__image{
	vertical-align: top;
}
.second-image{
	margin-top: -30px;
}
.titles__image{
	width: 339px;
	height: 156px;
	font-size: 46px;
	line-height: 1.13;
	margin-bottom: 40px;
}
.img,
.img-2{
	width: 334px;
	height: 381px;
	margin:9px -10px -9px 10px;
}
.img{
	background: url(../img/girl.png), lightgray 50% / cover no-repeat;
}
.img-2{
	background: url(../img/girl2.png), lightgray 50% / cover no-repeat;
}
.img:hover,
.img-2:hover{
	box-shadow:
		0 0 5px 1px #ca6c54,
		-9px -9px 0 0 #f0c6c6,
		-9px -9px 0px 1px #080707;
}
.descr,
.price{
	align-items: center;
	font-size: 24px;
	line-height: 1.40;
	margin-bottom: 4px;
}
.border:first-child{
	margin-right: 55px;
}
.border{
	border: 1px solid #000;
	margin-bottom: 25px;
}





.homework__game{
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 120px;

}
.game__title{
	font-family: 'Cormorant Infant', sans-serif;
	font-size: 60px;
	margin-bottom: 50px;
	text-align: center;
}
.game__table{
	width: 1100px;
	height: 800px;
	border: 2px solid #000;
	background-color: #5bf7b6;
	margin: 0 auto;
	font-size: 0;
	padding: 50px;
	margin-bottom: 50px;
}

.start {
	width: 50px;
	height: 50px;
	margin-left: 500px;
	background-color: #7633fd;
}
[class^='block__']{
	background-color: rgb(123, 218, 16);
	visibility: hidden;
}
.block__1 {
	width: 50px;
	height: 100px;
	margin-left: 500px;
}
.block__2 {
	height: 50px;
	margin-left: 500px;
}
.block__3 {
	width: 35px;
	height: 100px;
	margin-left: 963px;
}
.block__4 {
	height: 35px;
	margin-left: 370px;
}
.block__5 {
	height: 115px;
	margin-left: 370px;
	width: 30px;
}
.block__6 {
	height: 25px;
	margin-left: 370px;
	width: 200px;
}
.block__7 {
	height: 125px;
	margin-left: 555px;
	width: 15px;
}
.block__8 {
	height: 70px;
	margin-left: 527px;
	width: 70px;
	background-color: #7633fd;
}

.start:hover + .block__1,
.block__1:hover{
	visibility: visible;
}

[class^='block']:hover + [class^='block'],
[class^='block']:hover{
	visibility: visible;
}

.homework__blocks{
	border: 2px solid #000;
	box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.5)
}
.homework__blocks:not(:last-child){
	margin-bottom: 40px;
}
.color{
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
	border-bottom: 3px solid #000;
	margin-bottom: 40px;
}
button{
	width: 50px;
	height: 50px;
	font-size: 15px;
	font-weight: 300;
	color: #FFF;
	background-color: #1d32f1;
	border-radius: 50%;
}
.list__last button:hover{
	width: 100px;
	height: 100px;
	background-color: orange;
	border-radius: 50%;
	transition: 1.3s;
}
.list__last li{
	margin-bottom: 30px;
}

.list__last :first-of-type button:hover{
	background-color: red;
}
.list__last :last-of-type button:hover{
	background-color: green;
}

.homework__blocks:nth-child(odd){
	background-color: yellowgreen;
	color: #FFF;
}
.homework__blocks:nth-child(even){
	background-color: blueviolet;
}