@import url("fonts.css");
@import url("reset.css");

body{
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.header,
.footer{
	max-width: 100%;
   font-size: 40px;
	font-weight: 400;
   color: #5e8367;
   text-align: center;
   padding: 40px 0;
   text-shadow: 5px 6px 7px #5bf7b6;
   line-height: 1.2;
   box-shadow: inset 0px 0px 40px 40px rgba(230, 84, 84, 0.247);
	background-color: #076ff77a;
	margin-bottom: 100px;
}

.consulting__block{
	max-width: 1023px;
	margin: 0 auto;
	margin-bottom: 100px; 	/* Не забути видалити цей марджин */
}

.consulting__title p{
	display: inline-block;
	margin-bottom: 16px;
}
.consulting__title{
	max-width: 413px;
}
.consulting__desc{
	color: #37393F;
	font-weight: 500;
}
.consulting__main-title{
	max-width: 414px;
	font-family: 'Poppins', sans-serif;
	color: #37393F;
	font-size: 40px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
	line-height: 1.21;
}
.consulting__text-block{
	max-width: 673px;
	color: #7D7D7D;
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.46;
}
.first{
	margin-bottom: 15px;
}

.consulting__cube{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #40DDB6;
}
.consulting__components{
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 43px;
}
.consulting__components p{
	color: #37393F;
	font-size: 20px;
	background: url(../img/vector.svg) 0 0 no-repeat;
	padding-left: 35px;
	padding-top: 3px;
	min-height: 32px;
	margin-bottom: 23px;
}

.experience__item {
	display: inline-block;
	padding: 33px;
	text-align: center;
	border: 1px solid #E3E3E3;
	height: 100%;
	vertical-align: middle;
}

.experience__block {
	margin-bottom: 58px;
}
 
.first__item {
	width: 292px;
	margin-right: 21px;
}
 
.second__item {
	width: 291px;
}
 
.experience__item-text {
	display: inline-block;
	padding-left: 58px;
}
 
.first__icon {
	background: url("../img/icon.svg") 0 0 / 39px 38px no-repeat;
}
 
.second__icon {
	background: url("../img/icon2.svg") 0 0 / 39px 38px no-repeat;
}
 
 
.experience__item-text-title {
	color: #37393F;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 3px;
}
 
.experience__item-text {
	font-size: 16px;
	line-height: 1.35;
}
.button {
	max-width: 184px;
	max-height: 65px;
	background: #6B77E5;
	align-items: center;
	padding: 21px 27px 22px 27px;
	justify-content: center;
	cursor: pointer;
}

.button__text {
	color: #FFF;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
}

.consulting__background-block{
	max-width: 1220px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px; /* Не забути видалити цей марджин */
}
.consulting__background-header{
	margin-bottom: 18px;
	max-width: 852px;
	margin: 0 auto;
	height: 150px;
}
.main__title{
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; 
	margin-bottom: 14px;
}
.main__text{
	color: #7D7D7D;
	line-height: 1.46;
	margin-bottom: 47px;

}
.background__cube{
	width: 12px;
	height: 12px;
	background: #40DDB6;
	display: inline-block;
}
.background__text{
	display: inline-block;
	color: #37393F;
	font-weight: 500;
	margin-bottom: 14px;
}

.consulting__background-images-1{
	margin-bottom: 58px;
}
.background__photo{
	max-width: 1220px;
	margin: 0 auto;
	align-items: center;
}
.images-1{
	background: url(../img/1.png) 0 0 no-repeat;
	margin-right: 34px;
}
.images-2{
	background: url(../img/2.png) 0 0 no-repeat;
}
.images-3{
	background: url(../img/3.png) 0 0 no-repeat;
}
.images-4{
	background: url(../img/4.png) 0 0 no-repeat;
}
.images-5{
	background: url(../img/5.png) 0 0 no-repeat;
}
.images-6{
	background: url(../img/6.png) 0 0 no-repeat;
}
.images-1,
.images-2,
.images-3,
.images-4,
.images-5,
.images-6{
	display: inline-block;
	min-width: 384px;
	min-height: 582px;
}
.images__title-1,
.images__title-2,
.images__title-3,
.images__title-4,
.images__title-5,
.images__title-6 {
	color: #37393F;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27; 
	padding-top: 525px;
	margin-bottom: 10px;
}
.images__data-1,
.images__data-2,
.images__data-3,
.images__data-4,
.images__data-5,
.images__data-6{
	color: #7D7D7D;
	font-weight: 400;
	line-height: 1.46; 
	padding-left: 25px;
	background: url(../img/data.svg) 0 0 no-repeat;
}



























































.third__screen-block{
	margin-top: 50px;
}

.clothing__block{
	max-width: 1219px;
	margin: 0 auto;
	padding: 0 0 55px 0;
}

.clothin__text{
	margin-bottom: 25px;
}

.footer__paragraph-second,
.footer__paragraph,
.first__paragraph{
	margin-bottom: 20px;
}

.up__title-figure{
	max-width: 552px;
	max-height: 31px;
	margin-bottom: 30px;
}

.purple__figure{
	display: inline-block;
	width: 6px;
	height: 33px;
	border-radius: 10px;
	background: #8A33FD;
	vertical-align: top;
}

.clothing__title{
	display: inline-block;
	color: #3C4242;
	font-family: 'Core Sans C', sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.56px;
	padding-left: 15px;
}

.clothing__describe p{
	font-family: 'Causten', sans-serif;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
	color: #807D7E;
}

.clothing__sub,
.see__more{
	font-family: 'Core Sans C', sans-serif;
	font-size: 20px;
	color: #807D7E;
	font-weight: 600;
	line-height: 1.67;
	margin-bottom: 25px;
}

.dark{
	color: #807D7E;
	font-family: 'Causten', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.67;
	letter-spacing: 0.4px;
}






















	/* background-image: url(../img/pattern.jpg); */
	/* background-repeat: no-repeat; */
	/* background-image: linear-gradient(90deg, rgba(29,126,181,0.7) 4%, rgba(9,121,73,1) 47%, rgba(0,212,255,1) 96%); */
	/* background-image: url(../img/forest.jpg); */
	/* background-size: auto 50%; */
	/* background-size: contain; */
	/* background-size: cover;
	background-position: left center; */
	/* background-image: url(../img/pattern.jpg);
	height: 2000px;
	background-repeat: repeat; */
	/* background-position: 20px 50px; */
	/* background-position: 30% 20%; */
	/* background-attachment: fixed; */
	/* background:
	url(../img/forest.jpg) 0 0/ 200px no-repeat,
	url(../img/pattern.jpg) 50% / 500px no-repeat,
	 green linear-gradient(90deg, rgba(29,126,181,0.7) 4%, rgba(9,121,73,1) 47%, rgba(0,212,255,1) 96%) 50px 50px / 200px 50px no-repeat fixed; */




	/* outline: 1px solid red; */
	/* font-family: 'Poppins', sans-serif;
	font-size: 20px;
	line-height: 1.65;
	margin-bottom: 23px;
	color: #37393f;
	background: url(../img/vector.png) 0 3px no-repeat;
	padding-left: 35px;


	min-height: 32px; */