@import url("reset.css");
@import url("fonts.css");
 
[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: #a1351a9a;
}

.header--fix {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}
.header__container > * {
	vertical-align: middle;
	display: inline-block;
}
.header__container > *:last-child {
	margin-right: 0;
}

.header {
	background-color: #54ca14;
	padding: 15px;
	text-align: center;
}
.menu__item {
	display: inline-block;
	position: relative;
	margin-right: 60px;
}
.menu__link {
	background-color: #a1351a9a;
	display: inline-block;
	padding: 10px;
}

.page__container{
	font-size: 0;
}
.side {
	font-size: 14px;
	width: 200px;
	padding: 15px;
	vertical-align: top;
	display: inline-block;
	background-color: rgb(211, 32, 211);
}
.contant{
	font-size: 14px;
	display: inline-block;
	padding: 15px;
	width: 600px;
	background-color: brown;
}

.menu__item:hover .menu__link{
	background-color: #aa523d;
}
.menu__item:hover .sub__menu{
	visibility: visible;
}
.sub__menu {
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 5px;
	color: #000;
	width: 150px;
	visibility: hidden;
}

.sub__menu-item {
	background-color: #989f98;
}
.sub__menu-link {
	display: inline-block;
	padding: 10px;
}
.sub__menu-link:hover{
	text-decoration: underline;
}
.side{
	position: sticky;
	top: 60px;
}
.title{
	font-size: 20px;
	position: absolute;
}
.side__item {
	position: relative;
}
.side__item:hover .sub-menu-side{
	visibility: visible;
}
.side__item:not(:last-child) {
	margin-bottom: 5px;
}
.side__link {
	background-color: #794f45;
	display: block;
	padding: 10px;
	font-size: 16px;
	position: relative;
	padding: 10px 10px 10px 35px;
}
.side__item:hover .side__link{
	background-color: #ac4e37;
}
.side__link::before{
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(248, 47, 124);
	position: absolute;
	left: 10px;
	top: 9px;
}
.sub-menu-side {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 5px;
	width: 200px;
	visibility: hidden;
}
.sub-menu-side__item {
	background-color: #7a956b;
}
.sub-menu-side__link {
	display: block;
	padding: 5px;
}
.sub-menu-side__link:hover{
	text-decoration: underline;
}

.sub-sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 5px;
	width: 200px;
	visibility: hidden;
}
.sub-sub-item {
	position: relative;
}
.sub-sub-item:hover .sub-sub-link{
	background-color: #7aaf5d;
}
.sub-menu-side__item:hover .sub-sub-menu{
	visibility: visible;
}
.sub-sub-link {
	background-color: #794f45;
	display: block;
	padding: 10px;
	font-size: 16px;
}
.sub-sub-link:hover{
	text-decoration: underline;
}

.sub__menu-item:hover .sub-sub-menu{
	visibility: visible;
	top: 0;
	left: 100%;
	padding-top: 10px;
}



.page {
	padding-top: 100px;
}
.page__experts {
	margin-top: 50px;
}

.experts__team {
	font-size: 0;
}
.experts__card {
	margin: 0 31px 31px 0;
}
.experts__card:nth-child(3n + 3) {
	margin-right: 0;
}

.card {
	position: relative;
	width: 31.6%;
	min-width: 320px;
	min-height: 532px;
	overflow: hidden;
	display: inline-block;
}

.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__social {
	width: 100%;
	height: 100%;
	background-color: rgba(107, 119, 229, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}

.card:hover .card__social {
	visibility: visible;
	opacity: 1;
}

.social-item {
}

.social-item__body {
	position: absolute;
	width: 100%;
	margin-top: -25px;
	text-align: center;
	padding: 0 10px;
	font-size: 0;
	top: 50%;
}
.social-item__link {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #40ddb6;
	transition: background-color 0.3s ease;
}

.social-item__link:not(:last-child) {
	margin-right: 13px;
}

.social-item__link img {
	width: 100%;
}

.social-item__link:hover {
	background-color: #4e5cdf;
}

.card__content {
	padding: 24px;
	width: 88.45%;
	background-color: #ffffff;
	position: absolute;
	bottom: 22px;
	left: 5.84%;
	text-align: center;
	max-width: 341px;
}
.card__content > *:not(:last-child) {
	margin-bottom: 8px;
}
.card__title-link {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: #37393f;
	transition: color 0.3s ease;
}

.card__title-link:hover {
	color: #4e5cdf;
}

.card__subtitle {
	color: #7d7d7d;
	line-height: 1.35;
	font-size: 18px;
}
