@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");

@font-face {
	font-family: 'Core Sans C';
	src: url(../fonts/CoreSansC.woff2) format('woff2'),
	     url(../fonts/CoreSansC.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Causten';
	src: url(../fonts/Causten-Semi-Bold.woff2) format('woff2'),
	     url(../fonts/Causten-Semi-Bold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Causten';
	src: url(../fonts/Causten-Bold.woff2) format('woff2'),
	     url(../fonts/Causten-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Causten';
	src: url(../fonts/Causten-Regular.woff2) format('woff2'),
	     url(../fonts/Causten-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}