@import url("reset.css");

h1{
	color: rgb(184, 8, 8);
}
h2{
	color: rgb(27, 27, 248);
}
ul.down__footer{
	color: blue;
}

div * .story__animals{
	color: rgb(62, 143, 146);
}
div >.list__story{
	color: rgb(241, 150, 12);
}
#header li{
	color: rgb(149, 202, 42);
}
/* #main p{

} */
[class*='some__list']{
	color: rgb(148, 58, 58);
}
.bird__story h2{
	color: rgb(132, 0, 255);
}
.bird__story p{
	color: rgb(41, 212, 50);
}
